body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  box-shadow: 0 2px 30px #000;
}
.content {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
nav {
  position: relative;
  width: 100%;
  height: 109px;
  background: url(/images/nav-bg.jpg) no-repeat;
}
nav .logo {
  position: absolute;
  left: 0;
  top: 31px;
}
nav .menu {
  margin: 38px 0 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
nav .menu li {
  margin: 0;
  padding: 0;
  float: left;
}
nav .menu li a {
  color: #0b4c6e;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin: 0 0 0 20px;
}
nav .menu li a:hover {
  color: #148ccb;
}
.footer {
  clear: both;
}
.footer .content {
  margin: 20px auto 20px auto;
  padding: 10px 0 20px 0;
  color: #999;
  text-align: center;
  border-top: solid 2px #7f7f7f;
}
.home h1 {
  margin: 0;
  padding: 0;
  text-indent: -999px;
  overflow: hidden;
  background: url(/images/home-title.jpg) no-repeat top center;
  height: 437px;
}
.home .teaser {
  background: url(/images/home-teaser-bg.jpg) no-repeat top center;
  height: 411px;
}
.home .teaser h2 {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 40px;
  font-weight: bold;
  width: 580px;
}
.home .teaser p {
  width: 580px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  margin: 10px 0 0 0;
}
.home .teaser .home-teaser-image {
  float: right;
  margin: 30px 0 0 0;
}
.home .teaser .home-teaser-icons {
  margin: 10px 0 0 0;
}
.home .teaser .home-teaser-icons a {
  display: block;
  float: left;
  margin: 0 25px 0 0;
}
.home .teaser .home-teaser-icons a:hover {
  opacity: 0.5;
}
.home .blog-articles {
  margin: 30px 0 0 0;
}
.home .blog-articles .item {
  width: 202px;
  float: left;
  margin: 0 50px 0 0;
}
.home .blog-articles .item img {
  max-width: 201px;
  display: block;
}
.home .blog-articles .item a {
  display: block;
  margin: 10px 0 0 0;
  color: #0b4c6e;
  font-size: 20px;
  text-decoration: none;
}
.home .blog-articles .item a:hover {
  color: #148ccb;
}
.home .blog-articles .item:last-child {
  margin: 0;
}
.inner h1 {
  font-size: 40px;
  font-weight: bold;
}
.inner p {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}
.inner img {
  max-width: 200px;
  float: right;
}
.admin {
  font-size: 16px;
}
.admin .container {
  padding: 20px;
  max-width: 900px;
}
.admin hr {
  margin: 10px 0 10px 0;
  border-top: none;
  border-bottom: dotted 1px #999;
}
.admin .list-picture {
  max-width: 70px;
}
.admin .list-column {
  width: 60%;
}
.admin .list-column table {
  width: 94%;
}
.admin .list-column table td {
  border-bottom: solid 1px #999;
  border-right: dotted 1px #999;
  padding: 4px;
}
.admin .list-column a {
  color: #000;
}
.admin .list-column a:hover {
  color: #999;
}
.admin .form-column {
  width: 40%;
}
.admin .form-column input[type="text"] {
  width: 100%;
}
.admin .form-column textarea {
  width: 100%;
  height: 250px;
}
.admin input[type="text"],
.admin select,
.admin textarea {
  border: solid 2px #999;
  background: none;
  padding: 4px 6px;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
